*.tex
*.jar
*.class
*.interp
*.java
*.dot
*.aux
*.dvi
*.pdf
*.log
Expr.interp
Expr.tokens
xprLexer.interp
ExprLexer.py
ExprParser.py
ExprVisitor.py
__pycache__/
expr_visitor.bkf
antlr-4.13.1-complete.jar
ExprLexer.interp
test_file
antlr_python/VISITOR/test_file
*.java
java_gen
